<!DOCTYPE html>
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="Content-Language" content="zh-cn"/>
		<link rel="stylesheet" href="/public/css/main.css" type="text/css"/>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>杜满想的blog.唯有自律，方能自由！</h1>
			</div>
			<div id="content">
				{{range .Blgs}}
				<div>
					<h1><a href="/articles/{{.Id}}">{{.Title}}</a></h1>
				</div>
				<div>{{.Content}}</div>
				{{end}}
			</div>
			<div id="tag_menu">
				<div><h1>标签</h1></div>
				<ul>
					{{range .Tags}}
					<li><a href="/tags/{{.Id}}">{{.Tag}}</a></li>
					{{end}}
				</ul>
			</div>
		</div>
	</body>
</html>
