<!DOCTYPE html>
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="Content-Language" content="zh-cn"/>
		<link rel="stylesheet" href="public/css/main.css" type="text/css"/>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>杜满想的blog.唯有自律，方能自由！</h1>
			</div>
				<ul id="navigation">
					<li><a href="#">linux</a></li>
					<li><a href="#">vim</a></li>
					<li><a href="#">windows</a></li>
					<li><a href="#">glang</a></li>
					<li><a href="#">life</a></li>
					<li><a href="#">c++</a></li>
				</ul>
			<div id="menu">
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
				</ul>
			</div>
			
			<div id="content">
				Content goes here
			</div>

			<div id="comment">
				<ul>
					<li><a href="#">HTML</a></li>
					<li>CSS</li>
					<li>JavaScript</li>
				</ul>
			</div>
		</div>
	</body>
</html>
