<!DOCTYPE html>
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="Content-Language" content="zh-cn"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<!-- Bootstrap -->
  		<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">	
		
		<style type="text/css">
			body { padding-top: 20px; }	
			/* Set the fixed height of the footer here */
			#footer {
			  height: 60px;
			  background-color: #f5f5f5;
			}
			
			.container .text-muted {
			  margin: 20px 0;
			}
			
			#footer > .container {
			  padding-left: 15px;
			  padding-right: 15px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<a class="navbar-brand" href="/">个人博客</a>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">首页</a></li>
				<li><a href="/about">关于</a></li>
				<li><a href="/contact">联系</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
			    <div class="form-group">
				<input type="text" class="form-control" placeholder="搜索">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
		</nav>

		<div class="jumbotron">
			<h1>Macs World！</h1>
			<p>唯有自律，方能自由！</p>
		</div>
		<div class="container"><!--如果要利用row类，一定要把把其包在container类里，不然会出现横向srcollbar-->
			<div class="row">
				<div class="col-md-3"><!--标签-->
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4>标签</h4>
						</div><!--panel-heading-->
									
							<div class="list-group">
								{{range .Tags}}
								<a href="/articles?tag={{.Id}}" class="list-group-item">{{.Tag}}</a>
								{{end}}
							</div><!--list-group-->
						
					</div><!--panel panel-info-->
				</div><!--col-md-3-->
				
				<div class="col-md-9"><!--博客内容-->
					<ul class="list-group">
					{{range .Blgs}}
						<li class="list-group-item list-group-item-success">
							<h3 class="list-group-item-heading">
							<a href="/articles?title={{.Id}}">{{.Title}}</a>
							</h3>
							<p>{{.Content}}</p>
						</li>	
					{{end}}
					</ul><!--list-group-->
				</div>
			</div><!--row-->
		</div><!--container-->
		
		<div class="container"><!--分页-->
		<div class="row">
		<div class="col-md-offset-3">
		<ul class="pagination">
			{{$curPage := .CurPage}}
			
		    {{if eq 1 .CurPage}}
				<li class="disabled"><a href="#">Prev</a></li>
			{{else}}
				<li><a href="/articles?page={{$curPage}}">Prev</a></li>
			{{end}}
			
			{{range $elmt := .Page}}
				{{if eq $curPage  $elmt}}
					<li class="active"><a href="/articles?page={{$elmt}}">{{$elmt}}</a></li>
				{{else}}
					<li><a href="/articles?page={{.}}">{{.}}</a></li>
				{{end}}
			{{end}}
			{{$lg := len .Page}}{{/*计算分页页数*/}}
			{{if eq $lg $curPage}}
				<li class="disabled"><a href="#">Next</a></li>
			{{else}}
				<li><a href="/articles?page={{plus .CurPage}}">Next</a></li>
			{{end}}
		</ul>
		</div><!-- col-md -->
		</div><!-- row -->
		</div>
		
		<div id="footer">
     		<div class="container">
        		<p class="text-muted">© BY MACS 2013</p>
     		</div>
   		</div>
		
		<!-- Bootstrap -->
		<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</body>
</html>
